<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIMA: GameQuest</title>
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
  
</head>

<body>
  <header>
    <h2>Welcome to</h2> <h1>SIMA: GameQuest</h1>
    <h3>Start Imagining More Adventures</h3>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Game On!</h2>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="./assets/js/logout.js"></script>
  {{/if}}
</body>

</html>
