/* Base styles */
body {
    height: 100%;
    color: #a9a9ad;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}
.homebg {
    background-image: url(../images/bg@2x-94387ea1024e309daad19a5561c912d0.jpg);
    background-repeat: no-repeat;
}
.loginbg {
    background-image: url('../images/bg-26e89fc86cc5343ce0263f25d15704c7.jpg');
    background-repeat: no-repeat;
}
.defaultbg {
    background-color: #FFFFFF;
}


header {
    margin-top: 0;
    background: linear-gradient(45deg, #5959d5b5, #3c329a96);
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-around;
}
nav {
display: flex;
justify-content: flex-end;
}
nav button, nav a {
    margin: 5px;
}

h1 {
    color: #bebebe;
    text-align: center;
}

#sima {
    margin-left: 100px;
}

#welcome{
    margin-left: 50px;
}

h2, h3 {
    color: #d4d3e4;
    text-align: center;
}

/* Add Game Button Container */
.add-game-container {
    text-align: center;
    margin: 20px 0;
}

/* Button Styles */
button, a{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

button:hover {
    background-color: #45a049;
}

/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    background: #34343471; 
    color: #646464;
    margin: 5% auto;
    margin-top: 180px;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 70%; /* Could be more or less, depending on screen size */
}

.modal-close-btn {
    top: 10px; 
    right: 10px;
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
}

.modal-close-btn:hover {
    background-color: #d32f2f;
}

/* Form Styles */
form {
    color: rgba(219, 219, 219, 0.865);
    display: flex;
    flex-direction: column;
}
#players {
    display: flex;
    flex-direction: row;
    width: 50%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="text"], input[type="password"], input[type="number"], select {
    width: 60%;
    margin: 0 20px 0 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional Styles */
br {
    margin-bottom: 10px;
}

/* Gamelist Styles */
#gamelist {
    display: flex;
    width: 100%;
    flex-direction: column;
} 

#gamelist .game-card{
    background: #34343471; 
    color: rgba(219, 219, 219, 0.865);
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    border-radius: 30px;
}

/* Login Styles */
.login-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login-form, .signup-form{
    color: #646464;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-card {
    background: #34343467; /*Semi-transparent black background*/
    color: rgba(219, 219, 219, 0.865);
    padding: 2em;
    border-radius: 30px; /* Rounded Corners */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gamepad Styles */
.gamepad {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 50px;
  }
