/* Base styles for the entire body, setting up general aesthetics like color, line height, and spacing */
body {
    height: 100%; /* Full height of the viewport */
    color: #a9a9ad; /* Gray text color */
    line-height: 1.6; /* Line spacing */
    margin: 0; /* Remove default margin */
    padding: 20px; /* Space inside the body element */
}

/* Background styles for the homepage with a specific image */
.homebg {
    background-image: url(../images/bg@2x-94387ea1024e309daad19a5561c912d0.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-color: #646464;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background styles for the login page with a specific image */
.loginbg {
    background-image: url('../images/bg-26e89fc86cc5343ce0263f25d15704c7.jpg');
    background-position: center center;
    background-attachment: fixed;
    background-color: #646464;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Default background color for elements */
.defaultbg {
    background-color: #FFFFFF; /* White background color */
}

/* Styles for the header, including gradient background and layout */
header {
    margin-top: 0; /* No top margin */
    background: linear-gradient(45deg, #5959d5b5, #3c329a96); /* Gradient background */
    color: #fff; /* White text color */
    width: 100%; /* Full width */
    display: flex; /* Flexbox for layout */
    flex-direction: row; /* Horizontal layout */
    align-items: center; /* Vertically center items */
    margin-bottom: 10px; /* Bottom margin */
    justify-content: space-around; /* Space distribution around items */
}

/* Navigation styles, aligned to the end of the flex container */
nav {
    display: flex;
    justify-content: flex-end; /* Align items to the end (right) */
}

/* Styling for buttons and links within the navigation */
nav button, nav a {
    margin: 5px; /* Margin around buttons and links */
}

/* Styling for main headings, centralized and colored */
h1 {
    color: #bebebe; /* Light grey color */
    text-align: center; /* Center align text */
}

/* Custom margin settings for specific elements */
#sima, #welcome {
    margin-left: 100px; /* Left margin for #sima */
    margin-left: 50px; /* Left margin for #welcome, overrides previous for this ID */
}

/* Styling for secondary and tertiary headings */
h2, h3 {
    color: #d4d3e4; /* Light violet color */
    text-align: center; /* Center align text */
}

/* Container for adding a game button with centralized text alignment */
.add-game-container {
    text-align: center;
    margin: 20px 0; /* Vertical margins */
}

/* Button styles for interaction */
button, a{
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 15px; /* Padding around text */
    border: none; /* No borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor changes to pointer on hover */
    font-size: 16px; /* Text size */
    text-decoration: none; /* No underline on links */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Modal styles for popup elements */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place when scrolling */
    z-index: 1; /* Stack order */
    left: 0; /* Full width from left */
    top: 0; /* Full height from top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Scrollable if content is large */
    padding-top: 60px; /* Padding from the top */
}

.modal-content {
    background: #343434d9; /* Semi-transparent dark background */
    color: #646464; /* Medium gray text color */
    margin: 5% auto; /* Centered with 5% margin from top and bottom */
    padding: 20px; /* Padding inside the content box */
    border: 1px solid #888; /* Gray border */
    border-radius: 30px; /* Rounded corners */
    width: 40%; /* 70% of the parent's width */
}

.modal-close-btn {
    top: 10px; /* Positioned 10px from the top */
    right: 10px; /* Positioned 10px from the right */
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    float: right;
}

.modal-close-btn:hover {
    background-color: #d32f2f;
}

/* Form Styles */
form {
    color: rgba(219, 219, 219, 0.865);
    display: flex;
    flex-direction: column;
}
#addGameForm {
    width: 60%;
}
#players {
    display: flex;
    flex-direction: column;
    width: 50%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type="text"], input[type="password"], input[type="number"], select {
    width: 60%;
    margin: 0 10px 0 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional Styles */
br {
    margin-bottom: 10px;
}
#filterBy{
    width: 150px;
}
/* Gamelist Styles */
#gamelist {
    display: flex;
    width: 100%;
    flex-direction: column;
} 
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column width */
    gap: 10px;}
.game-card{
    background: #34343471; 
    color: rgba(219, 219, 219, 0.865);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 30px;
} 

/* Login Styles */
.login-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.login-form, .signup-form{
    color: #646464;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-card {
    background: #34343467; /*Semi-transparent black background*/
    color: rgba(219, 219, 219, 0.865);
    padding: 2em;
    border-radius: 30px; /* Rounded Corners */
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Gamepad Styles */
.box {
    display: flex;
    flex-direction: column;
}
.box-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box-column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border: 1px solid #646464
}